<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--styles-->
    <link rel="stylesheet" href="/css/styles.css">

    <title>Logg inn | Passordside</title>
</head>
<body>
<%- include("./partials/nav.ejs") -%>
<form action="">
    <div>
        <label for="username">Brukernavn:</label>
        <input type="text" name="username" id="username" required>
    </div>
    <div>
        <label for="password">Passord:</label>
        <input type="password" name="password" id="password">
    </div>
    <button class="submitButton" type="submit">Send</button>
</form>
<%- include("./partials/foot.ejs") -%>